@import url(reset.css);

body {
	font-family: Arial;
}

.tasty_wrap {
	max-width: 323px;
	min-width: 250px;
	height: 337px;
	padding: 5px 0;
}

.width {
	width: 96%;
	margin: 0 auto;
	height: 100%;
}

.buttons {
	padding: 15px 0 0 0;
}

.title {
	font-size: 18px;
	color: #F58220;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.img_cont {
        width: 98%;
        height: 60%;
        margin: auto;
}

.imgLoad {
    position:absolute; 
    z-index:1000; 
    display:none;
}

.text_cont {
	margin: 0 5px;
}

.main_text {
	padding: 3px 0 0 0;
	height: 35px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}


.buttons>li {
	float: left;
	padding-right: 8px;
}

.buttons>li:nth-last-child(1) {
	float: right;
}

.bt {
	width: 72px;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	color: #A1A1A1;
	text-decoration: none;
}

.details {
	color: grey;
}

.show {
	color: #F58220;
	padding: 0 0 0 5px;
	position: relative;
	top: 3px;
	font-size: 12px;
	font-weight: bold;
}

.prev {	
	padding: 5px 15px 13px 30px;
}

.next {	
	padding: 5px 30px 8px 13px;
}

.find {
	padding: 5px 30px 8px 16px;
	color: #F58220;
}

.prev:hover, .next:hover {	
        color: #F58220;
}