@import url(reset.css);

body {
	font-family: Arial;
}

#tasty_box {
	width: 323px;
	height: 335px;
	padding: 5px 0;
	background: url("../img/comp_plate_graybasic.png") no-repeat;
}

.width {
	width: 315px;
	margin: 0 auto;
        position: relative;
        height: 100%;
}

#buttons {
	padding: 15px 0 0 0;
}

.title {
	font-size: 18px;
	color: #F58220;
	font-weight: bold;
	text-overflow: ellipsis;
        margin: 0;
}

#img_cont {
        width: 312px;
        height: 200px;
        -webkit-transition: all ease-in-out 0.6s;
        transition: all ease-in-out 0.6s;
}

#imgLoad {
    position:absolute; 
    z-index:1000; 
    display:none;
}

#text_cont {
	margin: 5px;
}

.main_text {
	padding: 3px 0 0 0;
	height: 35px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
        -webkit-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
}


#buttons>li {
	float: left;
	padding-right: 8px;
        margin-top: 0;
}

#buttons>li:nth-last-child(1) {
	float: right;
}

.bt {
	width: 72px;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	color: #A1A1A1;
	text-decoration: none;
}

.details {
	color: grey;
}

#show {
	color: #F58220;
	padding: 0 0 0 5px;
	position: relative;
	top: 3px;
	font-size: 12px;
	font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
}

#prev {
	background: url("../img/button_bg_white_left2.png") no-repeat;
	padding: 5px 15px 13px 30px;
}

#next {
	background: url("../img/button_bg_white_right2.png") no-repeat;
	padding: 5px 30px 8px 13px;
}

#find {
	background: url("../img/button_bg_white_right3.png") no-repeat;
	padding: 5px 30px 8px 16px;
	color: #F58220;
}

#prev:hover {
	background: url("../img/button_bg_orange_left2.png") no-repeat;
	color: white;
}

#next:hover  {
	background: url("../img/button_bg_orange_right2.png") no-repeat;
	color: white;
}

#find:hover  {
	background: url("../img/button_bg_orange_right3.png") no-repeat;
	color: white;
}

 .slide.ng-enter, .slide.ng-leave {    
     -webkit-transition: all 0.8s ease-in-out;
     transition: all 0.8s ease-in-out;  
 }
 .slide.ng-enter,
 .slide.ng-leave.ng-leave-active {
     z-index: 0;    
     opacity: 0;
 }

 .slide.ng-leave,
 .slide.ng-enter.ng-enter-active {
     z-index: 1;
     opacity: 1;
 }
 
 .slide {
     position: absolute;
 }
 
 #img_cont.ng-hide {
     z-index: 0;    
     opacity: 0;
     height:0;
 }
 
 #load_cont {
     position: relative;
     height: 80%;
 }
 
 #nav_cont {
     position: relative;
     height: 15%;
 }